@use "submodules/mixin" as m;

.container {
  @include m.flex-box(row-reverse, space-between);
  width: 600px;
  height: 400px;
  background-color: #eaeaea;

  .box {
    width: 60px;
    height: 60px;
    background-color: greenyellow;
    text-align: center;
    line-height: 60px;
  }
}
